@page
@model HUAPICore.Pages.EMR.Audit.AppointmentAuditsModel
@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Appointment Audits";
}

<h2>Appointment Audits</h2>

@*<h4 id="days" align="center" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;">Filter From Hire Date</h4>
    <div id="container">
        <ejs-rangenavigator id="container2" valueType="DateTime" load="onChartLoad" labelFormat="MMM-yy">
            <e-rangenavigator-navigatorstylesettings unselectedRegionColor="transparent"></e-rangenavigator-navigatorstylesettings>
            <e-rangenavigator-tooltip enable="true" displayMode="Always" format="MM/dd/yyyy"></e-rangenavigator-tooltip>
            <e-rangenavigator-rangenavigatorseriescollection>
                <e-rangenavigator-rangenavigatorseries xName="x" yName="y" type="Area" width="2">
                </e-rangenavigator-rangenavigatorseries>
            </e-rangenavigator-rangenavigatorseriescollection>
        </ejs-rangenavigator>
    </div>

    <div id="container" align="center">
        <ejs-rangenavigator id="container" height="75" valueType="DateTime"
                            allowSnapping="true" intervalType="Quarter"
                            enableGrouping="true" groupBy="Years"
                            enableDeferredUpdate="true" load="onChartLoad"
                            xName="HireDate" yName="yValue" changed="changed">
        </ejs-rangenavigator>
    </div><br />*@

@{
    var value = new object[] { new DateTime(2005, 05, 01, 12, 0, 0), new DateTime(2018, 1, 31, 12, 0, 0) };
}
<ejs-rangenavigator id="rangeNavigator" valueType="DateTime" labelFormat="MMM-yy" value="@value">
    <e-rangenavigator-rangenavigatorseriescollection>
        <e-rangenavigator-rangenavigatorseries xName="x" yName="y" dataSource="@Model.dataSource" type="Area">
        </e-rangenavigator-rangenavigatorseries>
    </e-rangenavigator-rangenavigatorseriescollection>
</ejs-rangenavigator>

@*<div id="grid" align="center">
    <ejs-grid id="Grid" height="350" align="center" width="80%" dataSource="@Model.Appointmentaudit" allowPaging="true">
        <e-grid-pagesettings pageCount="4" pageSizes="true"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="ApadDescription" headerText="Description" textAlign="Center"></e-grid-column>
        </e-grid-columns>

    </ejs-grid>
</div>*@

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ApadDatetime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ApadDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ApadIsappointmentdeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ApadBooktime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ApadDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].PartitionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].RefSys)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].RefId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].DtModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].ObjGuid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].Apnt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].PppuIdUserNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointmentaudit[0].Ptnt)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointmentaudit)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApadDatetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApadDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApadIsappointmentdeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApadBooktime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApadDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartitionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefSys)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjGuid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apnt.ObjGuid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PppuIdUserNavigation.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ptnt.Code)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
